{% extends ':blog:layout.html.twig' %}
{% block title %} {{ parent() }} - Index{% endblock %}

{% block blog_body %}

    <h2> <span class="label label-danger">Shop::Index</span></h2>
    <br>

    <a href="product">Go to the product managment !</a>


{% endblock %}


