{% extends ':blog:layout.html.twig' %}
    {% block stylesheets %}
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    {% endblock %}

{% block blog_body %}

    {% for message in app.session.flashbag.get('error') %}
        <p class="alert alert-danger">{{ message }}</p>
    {% endfor %}

    {% form_theme form 'ckeditor.html.twig' %}
    {{ form (form,{ 'attr': {'novalidate': 'novalidate' }}) }}
    {{ form_start(form) }}

    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="//cdn.ckeditor.com/4.7.0/basic/ckeditor.js"></script>
    <script language="JavaScript">
        $(function() {
            $( ".js-datepicker" ).datepicker(
                {
                    dateFormat: 'dd/mm/yy',
                    showAnim:'drop'
                }
            );
        });
    </script>
{% endblock %}
