{% extends ':blog:layout.html.twig' %}
    {% block stylesheets %}
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    {% endblock %}

{% block blog_body %}

    {{ form_start(form) }}
    {{ form_end(form) }}

    <div id="returned">
        <img id="loading" src="{{ asset('images/ajax-loader.gif') }}" style="display:none"/>
    </div>


    <table class="table table-hover" id="allcomments">
    <thead>
    <tr>
        <td><span class="label label-success">Commentaires</span>  <span class="badge" id="badgedNbComment"></span></td>
    </tr>
    </thead>
        <tbody>
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script language="JavaScript">
        $(function() {

            $("button#appbundle_comment_Add").click(
               function(e) {
                   e.preventDefault();
                   var $loading = $('#loading');
                   var $responseHTML = $('#returned');
                   var $buttonAdd = $('#appbundle_comment_Add');
                   var $inputComment = $('#appbundle_comment_content');


                   $buttonAdd.addClass('disabled').prop('disabled');

                   $.ajax({
                       url: '{{ path('ajax_article_add_comment') }}',
                       method: 'POST',
                       dataType: 'json',
                       beforeSend: function() {
                           $loading.fadeIn();
                           $responseHTML.fadeIn();
                           $('#returned').append('en charge .....')
                       },
                       data: {
                           id: {{ id }},
                           content: $inputComment.val()
                       },
                       error: function() {
                           alert('error');
                           $buttonAdd.removeClass('disabled');
                           $loading.hide();
                       },
                       success: function(datas) {
                           if (datas) {
                               console.log(datas);
                               var htmlTable;
                               var countComment=0;
                               $(datas).each(function(k,v) {
                                   htmlTable += "<tr><td>" +  v.content + "</td></tr>";
                                   countComment += 1;
                               });

                               $('#badgedNbComment').html(countComment);
                               $("#allcomments>tbody").append(htmlTable);
                           }

                            $buttonAdd.removeClass('disabled');
                            $loading.fadeOut();
                            $responseHTML.fadeOut();
                       }
                   });
                   return false;
               }
            );
        });
    </script>

{% endblock %}
