{% extends ':blog:layout.html.twig' %}
{% block title %} {{ parent() }} - Index{% endblock %}

{% block blog_body %}
<h4>Nos articles par année...</h4>
<table class="table">
    {% for article in articles %}
        <tr>
            <td>
                <span class="label label-primary">
                    <a style="color:#fff" href="{{path('read_blog', {'id': article.id})}}">{{article.title}}</a>
                </span>
                <p>>> {{article.content}}</p>
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}