{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Welcome to my awesome</span> Blog </h1>
            </div>

            <div id="status">

                <ul>
                    {% for article in articles %}

                        <li>{{article.id}} - {{article.title}} </li>

                    {% endfor %}

                </ul>
            </div>

        </div>
    </div>
{% endblock %}


