{% extends ':blog:layout.html.twig' %}
{% block title %} {{ parent() }} - Index{% endblock %}
{% block blog_body %}


    <span class="label label-primary">Index</span>
    <ul>
        {% for article in articles %}
            <li>{{article.id}} - {{article.title}} </li>
            {% endfor %}
    </ul>


{% endblock %}


