{% extends 'base.html.twig' %}

{% block body %}

    {% for message in app.session.flashbag.get('error') %}
        <p class="alert alert-danger">{{ message }}</p>
    {% endfor %}
    {% for message in app.session.flashbag.get('notice') %}
        <p class="alert alert-success">{{ message }}</p>
    {% endfor %}

    <h5>layout::body</h5>
    <div class="row">
        <div class="col-md-8">
            {% block blog_body %}{% endblock %}
            {% block fos_user_content %}{% endblock fos_user_content %}
        </div>
        <div class="col-md-4">
            {% include 'blog/last-ajax-modal.html.twig' %}
            {{ render(controller('AppBundle:Blog:Last',{nb:3})) }}
            {{ render(controller('AppBundle:Blog:Years',{nb:3})) }}
            {{ render(controller('AppBundle:Product:categories')) }}
        </div>
    </div>

{% endblock %}
