{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>Create...</h1>
            </div>
            <div id="#content">{{article.title | raw}} // {{article.id}} </div>
            <span id="#date">{{article.date | date('d/m/Y')}} </span>
        </div>
    </div>
{% endblock %}


