{% extends ':blog:layout.html.twig' %}

{% block body %}
<div id="wrapper">
    <div id="container">
        <div id="welcome">
            <h1>Modify...</h1>
        </div>
        <div class="row">
            <div class="col-md-12"> <h2>{{article.title}}</h2>
                {% include 'blog/forms.html.twig' %}
            </div>
        </div>
    {% endblock %}


