{% extends '@HBAdvertising/advertising/layout.html.twig' %}

{% block advertising_body %}
    <h1>Advert creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul class="list-inline">
        <li>
            <a href="{{ path('advertising_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
